body {
    display: flex;
    justify-content: center;
}

#calculator {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: lightgray;
    width: 300px;
    height: 400px;
}